{
  "openapi": "3.1.0",
  "info": {
    "title": "VOLTERAS CONNECT",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.volteras.com"
    },
    {
      "url": "https://api.sandbox.volteras.com"
    }
  ],
  "paths": {
    "/v1/oauth2/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Token",
        "description": "Obtain OAuth 2.0 access token. This endpoint follows the OAuth 2.0 industry-standard protocol for authorization.\nIt performs authorization and returns the access token and refresh token.\n\nTo use, pass the `grant_type` in the form data, which will be:\n- `client_credentials` grant type to authenticate with `client_id` and `client_secret`.\n- `refresh_token` grant type to refresh an existing token.\n\nIf using `client_credentials` grant type, please use HTTP Basic Auth to pass the credentials\n(with the username being the `client_id` and the password being the `client_secret`).\n\nThe `client_id` and `client_secret` can be passed in the form data, but this is deprecated and\nnot recommended.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- SERVER_ERROR",
        "operationId": "auth_token_v1_oauth2_token_post",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_auth_token_v1_oauth2_token_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIAccessToken"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-list-error-codes": []
      }
    },
    "/v1/oauth2/test-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Test Token",
        "description": "This endpoint validates the access token and retrieves the associated `clientId` and `organizationId`.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- SERVER_ERROR",
        "operationId": "test_token_v1_oauth2_test_token_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIAccess"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "x-list-error-codes": []
      }
    },
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List Accounts",
        "description": "Retrieve a paginated list of active accounts associated with the current organization.\n\n_Find details on list filter syntax in our documentation [here](/overview/listing-filter-json)._\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- PAGE_SIZE_TOO_LARGE\n- PAGINATED_QUERY_FILTER_CHANGED\n- REQUEST_VALIDATION_ERROR\n- SERVER_ERROR",
        "operationId": "list_accounts_v1_accounts_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page token",
              "description": "Page token used for pagination."
            },
            "description": "Page token used for pagination."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "contentMediaType": "application/json",
                  "contentSchema": {}
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter",
              "description": "Listing filter schema."
            },
            "description": "Listing filter schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_OEMAccount_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "PAGINATED_QUERY_FILTER_CHANGED",
          "PAGE_SIZE_TOO_LARGE"
        ]
      }
    },
    "/v1/accounts/{account_id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account",
        "description": "Retrieve account details by providing its unique identifier.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_account_v1_accounts__account_id__get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Account ID",
              "description": "ID of the account."
            },
            "description": "ID of the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OEMAccount"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/accounts:connect": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Action Connect",
        "description": "Generate a URL to initiate the account connection flow, which allows users to connect their accounts.\nThe generated URL is active for a **one-hour period**. If not authenticated within this timeframe, the link will become invalid.\n\nAfter the connection flow is completed, the device owner is redirected to the provided return URL with the following parameters:\n- `result` indicating success or failure.\n- `accountId` representing the ID of the connected account.\n\nFor further customization and integration details, consider the following resources:\n- See the [Scopes documentation](/overview/scopes) for information on how to utilize scopes in your integration.\n- See the [Regions documentation](/overview/regions) for guidelines on setting geographic regions.\n\nYou can also connect a single vehicle using the VIN upload flow. Pass the VIN, and (if available) the model and model year.\nThis will generate a consent flow link that's dedicated to uploading a single vehicle.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- DEVICE_LIMIT_REACHED\n- NOT_PERMITTED\n- REQUEST_VALIDATION_ERROR\n- SERVER_ERROR\n- UNSUPPORTED_OEM",
        "operationId": "action_connect_v1_accounts_connect_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConnectPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConnect"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "x-list-error-codes": [
          "NOT_PERMITTED",
          "DEVICE_LIMIT_REACHED",
          "UNSUPPORTED_OEM"
        ]
      }
    },
    "/v1/accounts/{account_id}:disconnect": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Action Disconnect",
        "description": "This endpoint allows you to disconnect an account.\nUpon successful disconnection, the account's connection is terminated.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "action_disconnect_v1_accounts__account_id__disconnect_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Account ID",
              "description": "ID of the account."
            },
            "description": "ID of the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/tags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Add Tag To Entity",
        "description": "Create a new tag attached to the object specified inside the tag body.\nA tag is a key-value pair that can be attached to specific objects, currently vehicles or batteries.\nThis can be used to categorize those objects and link them back to objects in your system.\n\nFor example, if you wanted to add a fleet id to a vehicle, you could pass a tag\nwith key \"fleet_id\" and then the id value, set the entityType to \"DEVICE\",\nand pass, as the entityId, the ID of the vehicle you want to tag.\n\nThis would tag that vehicle with the fleet_id \"1234\", and you could query in the list vehicles endpoint for\nvehicles with that tag.\n\nThe entity types that can be currently passed are:\n- `DEVICE`\n\n**Returns:**\n- A response with an empty body and a 200 status code\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "add_tag_to_entity_v1_tags_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicTagCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Remove Tag From Entity",
        "description": "Remove a tag with the specified key and value from the specified object.\nPlease see the Add Tag endpoint for more information on tags.\n\n**Returns:**\n- A response with an empty body and a 200 status code\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "remove_tag_from_entity_v1_tags_delete",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 150,
              "title": "Key"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 150,
              "title": "Value"
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PublicTagEntityTypes"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entityid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/tags/{entity_type}/{entity_id}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get Tags",
        "description": "Get all tags for the specified object.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_tags_v1_tags__entity_type___entity_id__get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          },
          {
            "name": "entity_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PublicTagEntityTypes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsList"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "List Vehicles",
        "description": "Retrieve a paginated list of vehicles associated with your organization.\n\nThe endpoint lists vehicles based on the following criteria:\n- Includes only vehicles that have enabled synchronization during the account connection process.\n- Excludes disconnected vehicles or those not included in the OEM account.\n\n**Returns:**\n- A paginated response containing a list of vehicles.\n\n**Note:**\n- This endpoint provides a summary of each vehicle's basic details. For comprehensive vehicle data, please refer to the individual vehicle detail endpoints.\n\n_Find details on list filter syntax in our documentation [here](/overview/listing-filter-json)._\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- PAGE_SIZE_TOO_LARGE\n- PAGINATED_QUERY_FILTER_CHANGED\n- REQUEST_VALIDATION_ERROR\n- SERVER_ERROR",
        "operationId": "list_vehicles_v1_vehicles_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page token",
              "description": "Page token used for pagination."
            },
            "description": "Page token used for pagination."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "contentMediaType": "application/json",
                  "contentSchema": {}
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter",
              "description": "Listing filter schema."
            },
            "description": "Listing filter schema."
          },
          {
            "name": "tagKey",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tagkey"
            }
          },
          {
            "name": "tagValue",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tagvalue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Vehicle_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "PAGINATED_QUERY_FILTER_CHANGED",
          "PAGE_SIZE_TOO_LARGE"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get Vehicle",
        "description": "Retrieve detailed information about a vehicle by specifying its unique identifier (ID).\n\n**Returns:**\n- A response containing detailed information about the vehicle.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_v1_vehicles__vehicle_id__get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      },
      "delete": {
        "tags": [
          "Vehicle Connection"
        ],
        "summary": "Action Disconnect",
        "description": "This endpoint allows you to disconnect a specific vehicle from your organization, ceasing the synchronization of its data.\nAfter disconnection, the vehicle will no longer be accessible through your organization's account.\nNote that it can take a few minutes for the disconnection to be processed.\n\n**Note:**\n- Disconnecting a vehicle is an irreversible action, and the vehicle's data will no longer be synchronized with your organization.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "action_disconnect_v1_vehicles__vehicle_id__delete",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/options": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get Vehicle Options",
        "description": "Retrieves the options data for a specific Tesla vehicle based on its unique identifier (ID).\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to retrieve the options.\n\n**Returns:**\n- A response containing options data for the vehicle.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n- UNSUPPORTED_OEM",
        "operationId": "get_vehicle_options_v1_vehicles__vehicle_id__options_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:information"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleOptions"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "UNSUPPORTED_OEM",
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/registration-plate": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Update Registration Plate",
        "description": "Update the registration plate of the specified vehicle.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to update.\n\n**Returns:**\n- A response containing the updated vehicle information.\n\n**Note:**\n- The `vehicle_id` should correspond to a valid and existing vehicle identifier.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "update_registration_plate_v1_vehicles__vehicle_id__registration_plate_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:information"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleUpdateRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/specifications": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get Vehicle Specifications",
        "description": "Obtain detailed specifications for a vehicle.\n\nThis endpoint allows you to retrieve more detailed specifications (if available) for a specific vehicle identified by its unique 'vehicle_id'.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_specifications_v1_vehicles__vehicle_id__specifications_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:information"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSpecifications"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/telemetry": {
      "get": {
        "tags": [
          "Vehicle Telemetry"
        ],
        "summary": "Get Vehicle Telemetry",
        "description": "Retrieve telemetry data for the specified vehicle. The telemetry data provides essential information about the vehicle's status and performance.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to retrieve telemetry data for.\n\n**Returns:**\n- Telemetry data for the vehicle.\n\nTelemetry Information returned might include:\n- Odometer: The total distance traveled by the vehicle, recorded in kilometers. The timestamp indicates when the odometer reading was taken.\n- Location: The current latitude and longitude coordinates of the vehicle's position on Earth's surface. The timestamp indicates when the location reading was captured.\n- Elevation: The vehicle's altitude above sea level, measured in meters. The timestamp shows when the elevation reading was recorded.\n- State of Charge: The battery's state of charge, expressed as a percentage. The timestamp indicates when the charge level was last updated.\n- Charging State: Indicates whether the vehicle is actively charging or not. The timestamp reveals the time of the charging state observation.\n- Range: The estimated driving range of the vehicle on its current battery charge, provided in kilometers. The timestamp shows when the range reading was taken.\n\n**Note:**\n- The `vehicle_id` should correspond to a valid and existing vehicle identifier.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_telemetry_v1_vehicles__vehicle_id__telemetry_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:telemetry"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleTelemetry"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-executions": {
      "get": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "List Vehicle Command Executions",
        "description": "Retrieve a paginated list of vehicle command executions for specific vehicle based on its unique identifier (ID).\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to retrieve the command executions.\n\n**Returns:**\n- A paginated response containing a list of vehicle command executions.\n\n_Find details on list filter syntax in our documentation [here](/overview/listing-filter-json)._\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- PAGE_SIZE_TOO_LARGE\n- PAGINATED_QUERY_FILTER_CHANGED\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "list_vehicle_command_executions_v1_vehicles__vehicle_id__command_executions_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page token",
              "description": "Page token used for pagination."
            },
            "description": "Page token used for pagination."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "contentMediaType": "application/json",
                  "contentSchema": {}
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter",
              "description": "Listing filter schema."
            },
            "description": "Listing filter schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_VehicleCommandExecution_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "PAGINATED_QUERY_FILTER_CHANGED",
          "PAGE_SIZE_TOO_LARGE"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-executions/{vehicle_command_execution_id}": {
      "get": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Get Vehicle Command Execution",
        "description": "Retrieve detailed information about a vehicle command execution by specifying its unique identifier (ID).\n\n **Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle.\n- `vehicle_command_execution_id`: The unique identifier (ID) of the vehicle command execution.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_command_execution_v1_vehicles__vehicle_id__command_executions__vehicle_command_execution_id__get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_command_execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle command execution ID",
              "description": "ID of the vehicle command execution."
            },
            "description": "ID of the vehicle command execution."
          },
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:actuate-front-trunk": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Actuate Front Trunk",
        "description": "Create a `ACTUATE_FRONT_TRUNK` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `ACTUATE_FRONT_TRUNK` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_actuate_front_trunk_v1_vehicles__vehicle_id__command_execution_actuate_front_trunk_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:actuate-rear-trunk": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Actuate Rear Trunk",
        "description": "Create a `ACTUATE_REAR_TRUNK` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `ACTUATE_REAR_TRUNK` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_actuate_rear_trunk_v1_vehicles__vehicle_id__command_execution_actuate_rear_trunk_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:climate-off": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Climate Off",
        "description": "Create a `CLIMATE_OFF` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `CLIMATE_OFF` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_climate_off_v1_vehicles__vehicle_id__command_execution_climate_off_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:climate-on": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Climate On",
        "description": "Create a `CLIMATE_ON` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `CLIMATE_ON` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_climate_on_v1_vehicles__vehicle_id__command_execution_climate_on_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:close-charge-port": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Close Charge Port",
        "description": "Create a `CLOSE_CHARGE_PORT` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `CLOSE_CHARGE_PORT` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_close_charge_port_v1_vehicles__vehicle_id__command_execution_close_charge_port_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:lock-doors": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Lock Doors",
        "description": "Create a `LOCK_DOORS` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `LOCK_DOORS` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_lock_doors_v1_vehicles__vehicle_id__command_execution_lock_doors_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:open-charge-port": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Open Charge Port",
        "description": "Create a `OPEN_CHARGE_PORT` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `OPEN_CHARGE_PORT` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_open_charge_port_v1_vehicles__vehicle_id__command_execution_open_charge_port_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:set-charge-limit": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Set Charge Limit",
        "description": "Create a `SET_CHARGE_LIMIT` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `SET_CHARGE_LIMIT` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_set_charge_limit_v1_vehicles__vehicle_id__command_execution_set_charge_limit_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetChargeLimitPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:set-temperature": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Set Temperature",
        "description": "Create a `SET_TEMPERATURE` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `SET_TEMPERATURE` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_set_temperature_v1_vehicles__vehicle_id__command_execution_set_temperature_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTemperaturePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:start-charging": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Start Charging",
        "description": "Create a `START_CHARGING` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `START_CHARGING` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_start_charging_v1_vehicles__vehicle_id__command_execution_start_charging_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:start-hvac-system": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Start Hvac System",
        "description": "Create a `START_HVAC_SYSTEM` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `START_HVAC_SYSTEM` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_start_hvac_system_v1_vehicles__vehicle_id__command_execution_start_hvac_system_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:stop-charging": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Stop Charging",
        "description": "Create a `STOP_CHARGING` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `STOP_CHARGING` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_stop_charging_v1_vehicles__vehicle_id__command_execution_stop_charging_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/command-execution:unlock-doors": {
      "post": {
        "tags": [
          "Vehicle Command Executions"
        ],
        "summary": "Action Unlock Doors",
        "description": "Create a `UNLOCK_DOORS` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- COMMAND_ALREADY_IN_PROGRESS\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR\n\nCreate a `UNLOCK_DOORS` command execution.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to execute the command.\n\n**Returns:**\n- A response containing detailed information about the vehicle command execution.",
        "operationId": "action_unlock_doors_v1_vehicles__vehicle_id__command_execution_unlock_doors_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:commands"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleCommandExecution"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "COMMAND_ALREADY_IN_PROGRESS"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/listening": {
      "post": {
        "tags": [
          "Vehicle Listening"
        ],
        "summary": "Set Vehicle Listening State",
        "description": "Set the listening state for a vehicle.\n\nThe listening state controls whether a vehicle can:\n* Process incoming data stream messages\n* Accept remote commands\n* Fetch data from OEM endpoints\n\nRequirements:\n* Vehicle must belong to the authenticated organization\n* Request will update the vehicle's desired listening state\n\nIf the vehicle is already in the requested listening state, the request is a\nno-op: no new audit entry is recorded and a 200 response is returned with the\ncurrent state.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "Set_Vehicle_Listening_State_v1_vehicles__vehicle_id__listening_post",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleListeningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The vehicle is already in the requested listening state; no change was made.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListeningResponse"
                }
              }
            }
          },
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListeningResponse"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/listening-audit": {
      "get": {
        "tags": [
          "Vehicle Listening"
        ],
        "summary": "Get Vehicle Listening Audit",
        "description": "Retrieve the listening-state history for a vehicle, ordered by the time entries were recorded.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- PAGE_SIZE_TOO_LARGE\n- PAGINATED_QUERY_FILTER_CHANGED\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_listening_audit_v1_vehicles__vehicle_id__listening_audit_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:information"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          },
          {
            "name": "startAt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Startat"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Endat"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page token",
              "description": "Page token used for pagination."
            },
            "description": "Page token used for pagination."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "contentMediaType": "application/json",
                  "contentSchema": {}
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter",
              "description": "Listing filter schema."
            },
            "description": "Listing filter schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_VehicleListeningAuditEntry_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "PAGINATED_QUERY_FILTER_CHANGED",
          "PAGE_SIZE_TOO_LARGE"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/charging-history": {
      "get": {
        "tags": [
          "Vehicle Charging History"
        ],
        "summary": "List Vehicle Charging History",
        "description": "Retrieve a list of charging history sessions for the provided vehicle.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle to retrieve charging history for.\n\n**Returns:**\n- A paginated list of vehicle charging history sessions.\n\nThis endpoint allows you to retrieve a paginated list of charging history sessions for a specific vehicle identified by its unique `vehicle_id`.\nThe list is ordered by the starting time of each charging session, with the most recent sessions appearing first.\n\n**Note:**\n- The `vehicle_id` should correspond to a valid and existing vehicle identifier.\n\n_Find details on list filter syntax in our documentation [here](/overview/listing-filter-json)._\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- PAGE_SIZE_TOO_LARGE\n- PAGINATED_QUERY_FILTER_CHANGED\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "list_vehicle_charging_history_v1_vehicles__vehicle_id__charging_history_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page token",
              "description": "Page token used for pagination."
            },
            "description": "Page token used for pagination."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "contentMediaType": "application/json",
                  "contentSchema": {}
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter",
              "description": "Listing filter schema."
            },
            "description": "Listing filter schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_VehicleChargingSession_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "PAGINATED_QUERY_FILTER_CHANGED",
          "PAGE_SIZE_TOO_LARGE",
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/charging-history/{vehicle_charging_session_id}": {
      "get": {
        "tags": [
          "Vehicle Charging History"
        ],
        "summary": "Get Vehicle Charging History",
        "description": "Retrieve details of a vehicle charging session based on its unique ID.\n\n**Parameters:**\n- `vehicle_id`: The unique identifier (ID) of the vehicle associated with the charging session.\n- `vehicle_charging_session_id`: The unique identifier (ID) of the vehicle charging session to retrieve.\n\n**Returns:**\n- Details of the vehicle charging session.\n\nThis endpoint allows you to retrieve details of a specific vehicle charging session based on its unique `vehicle_charging_session_id`.\nThe session details provide information about the charging start time, end time, energy consumption, and more.\n\n**Note:**\n- The `vehicle_id` should correspond to a valid and existing vehicle identifier.\n- The `vehicle_charging_session_id` uniquely identifies an existing charging session.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_charging_history_v1_vehicles__vehicle_id__charging_history__vehicle_charging_session_id__get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_charging_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle charging history ID",
              "description": "ID of the vehicle charging history."
            },
            "description": "ID of the vehicle charging history."
          },
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleChargingSession"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/range": {
      "get": {
        "tags": [
          "Vehicle Range"
        ],
        "summary": "Get Vehicle Range",
        "description": "Retrieves both nominal and real-world maximum range information for specified vehicles. It enables accurate vehicle\nrange analysis by drawing on historical data and usage patterns for the specified vehicle.\n\n**Parameters:**\n- `vehicle_id`: A unique identifier for the vehicle, which must correspond to a vehicle registered in our system.\n\n**Returns:**\n- A vehicle range instance encapsulating detailed range information for the vehicle. The data includes both the\nstandard (nominal) range and the real (observed) maximum range based on data retrieved directly from the vehicle\nand the specifications published by the OEMs.\n\n**Raises:**\n- `APIException`: Raised when the system cannot locate the vehicle's range details, due to an invalid 'vehicle_id'\nor absence of range data. This results in a 404 Not Found status code.\n\n**Note:**\n- The first availability of `real_max_range` depends on the first instance of data retrieved from the vehicle where\nthe State of Charge is above 40%. As more data is collected, the endpoint is updated on a rolling basis, always\nproviding the most accurate information available.\n- We recommend charging the vehicle to a State of Charge greater than 40% should the endpoint not be available.\n- The inclusion of `nominal_max_range` is reliant on the availability of the trim of the vehicle.\n- The endpoint's accuracy and availability depend upon the reliability of data sourced from and published by OEMs.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_range_v1_vehicles__vehicle_id__range_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:information"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connect_models__schemas__vehicle__vehicle_range__VehicleRange"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/maintenance/services": {
      "get": {
        "tags": [
          "Vehicle Services"
        ],
        "summary": "Get Vehicle Services",
        "description": "Retrieves the list of services currently recommended for the vehicle.\n\nThis can include services for different components (e.g. brakes) but also statutory inspections\n(such as MOT in the UK or TÜV in Germany).\n\nThe service data may include the due date for the service, or the number of kilometers the vehicle can do\nbefore that particular service is due, or both.\nIt may also include the date when the service was last performed.\n\n**Returns:**\n- The list of services for the vehicle.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_services_v1_vehicles__vehicle_id__maintenance_services_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:telemetry"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleServices"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/maintenance/tires/historic": {
      "get": {
        "tags": [
          "Vehicle Tires"
        ],
        "summary": "Get Vehicle Tires Readings Historic",
        "description": "Retrieves the list of tire pressures for the vehicle for the specified period (default is the last 3 months),\ngrouped by hour.\n\nMaximum date range is 3 months.\n\n**Returns:**\n- The list of tire pressures for the vehicle.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_tires_readings_historic_v1_vehicles__vehicle_id__maintenance_tires_historic_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:telemetry"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          },
          {
            "name": "from_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start datetime for the tire pressure history, in ISO format. Date range must be 3 months or less.",
              "title": "From Datetime"
            },
            "description": "Start datetime for the tire pressure history, in ISO format. Date range must be 3 months or less."
          },
          {
            "name": "to_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End datetime for the tire pressure history, in ISO format. Date range must be 3 months or less.",
              "title": "To Datetime"
            },
            "description": "End datetime for the tire pressure history, in ISO format. Date range must be 3 months or less."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleTiresList"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/state-of-health": {
      "get": {
        "tags": [
          "Vehicle State of Health"
        ],
        "summary": "Get Vehicle State Of Health",
        "description": "Retrieves state of health related information for the specified vehicle.\n- Nominal battery pack capacity refers to the total amount of energy in kWh that the battery pack of the vehicle can\nstore, as per its specifications.\n- Real battery pack capacity refers to the total amount of energy in kWh that the battery pack of the vehicle can\ncurrently store, it's reflective of the actual state of the battery rather than a specification.\n- State of health is defined as real battery pack capacity over nominal battery pack capacity, as percentage.\n\n**Parameters:**\n- `vehicle_id`: A unique identifier for the vehicle, which must correspond to a vehicle registered in our system.\n\n**Returns:**\n- A vehicle state of health instance encapsulating detailed battery pack information for the vehicle. The data\nincludes both the nominal battery pack capacity and the real (observed) maximum battery pack capacity based on data\nretrieved directly from the vehicle and the specifications published by the OEMs.\n\n**Raises:**\n- `APIException`: Raised when the system cannot locate the vehicle's state of health details, due to an invalid\n'vehicle_id' or absence of battery data. This results in a 404 Not Found status code.\n\n**Note:**\n- Endpoint is first available after observing a charging session that added at least 15% of state of charge and was\nstarted above 20% state of charge.\n- We recommend charging the vehicle overnight should the endpoint not be available immediately.\n- This endpoint is reliant on the availability of the trim of the vehicle and supports certain OEMs.\nPlease see [state of health](/overview/state-of-health#supported-oems) for a list of supported OEMs\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_state_of_health_v1_vehicles__vehicle_id__state_of_health_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:information"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleStateOfHealth"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/alerts": {
      "get": {
        "tags": [
          "Vehicle Alerts"
        ],
        "summary": "Get Vehicle Alerts",
        "description": "Retrieve alerts for a vehicle based on its unique ID.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- PAGE_SIZE_TOO_LARGE\n- PAGINATED_QUERY_FILTER_CHANGED\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_vehicle_alerts_v1_vehicles__vehicle_id__alerts_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page token",
              "description": "Page token used for pagination."
            },
            "description": "Page token used for pagination."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "contentMediaType": "application/json",
                  "contentSchema": {}
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter",
              "description": "Listing filter schema."
            },
            "description": "Listing filter schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_VehicleAlertResponse_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND",
          "PAGINATED_QUERY_FILTER_CHANGED",
          "PAGE_SIZE_TOO_LARGE"
        ]
      }
    },
    "/v1/vehicles/{vehicle_id}/maintenance/manufacturer-alerts/current": {
      "get": {
        "tags": [
          "Vehicle Manufacturer Alerts"
        ],
        "summary": "Get Current Vehicle Oem Alerts",
        "description": "Retrieves the list of currently active manufacturer alerts for the vehicle, that is, alerts that have come from the vehicle itself,\nrather than our alerts. This can include alerts for low tire pressure, faulty brakes etc.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "get_current_vehicle_oem_alerts_v1_vehicles__vehicle_id__maintenance_manufacturer_alerts_current_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": [
              "vehicle:telemetry"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vehicle ID",
              "description": "Unique internal identifier for the vehicle."
            },
            "description": "Unique internal identifier for the vehicle."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OEMAlerts"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/connect": {
      "post": {
        "tags": [
          "Vehicle Connection"
        ],
        "summary": "Bulk Vin Connect",
        "description": "Connect multiple VINs to the current organization.\nBy default this endpoint is not enabled for organizations, please contact us to get access.\nLimited to 100 VINs per request.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- DEVICE_LIMIT_REACHED\n- NOT_PERMITTED\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "Bulk_VIN_connect_v1_vehicles_connect_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkConnectVehicleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkConnectVehicleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "x-list-error-codes": [
          "NOT_PERMITTED",
          "RESOURCE_NOT_FOUND",
          "DEVICE_LIMIT_REACHED",
          "REQUEST_VALIDATION_ERROR"
        ]
      }
    },
    "/v1/vehicles/connect/{id}": {
      "get": {
        "tags": [
          "Vehicle Connection"
        ],
        "summary": "Bulk Vehicle Connect Group Status",
        "description": "This returns the overall status of the connection request for all VINs.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "bulk_vehicle_connect_group_status_v1_vehicles_connect__id__get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkConnectStatusResponse"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
          "RESOURCE_NOT_FOUND"
        ]
      }
    },
    "/v1/vehicles/connect/{id}/results": {
      "get": {
        "tags": [
          "Vehicle Connection"
        ],
        "summary": "Bulk Vehicle Connect Vin Results",
        "description": "Get details of individual VINs that were sent in the connection request.\n\n\nPossible Codes in Error Response (see [Errors](https://docs.volteras.com/api-reference/errors) for error response schema and meaning of codes):\n\n- AUTHENTICATION_ERROR\n- REQUEST_VALIDATION_ERROR\n- RESOURCE_NOT_FOUND\n- SERVER_ERROR",
        "operationId": "bulk_vehicle_connect_vin_results_v1_vehicles_connect__id__results_get",
        "security": [
          {
            "OAuth2ClientCredentialsBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max page size",
              "description": "Max size of the returned list."
            },
            "description": "Max size of the returned list."
          },
          {
            "name": "currentPage",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Current page",
              "description": "Current page"
            },
            "description": "Current page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResults_VehicleInputResponse_"
                }
              }
            }
          }
        },
        "x-list-error-codes": [
[...]
